<h2>Adding an activity in <%= @location.name %>...</h2>
<form action='/journeys/<%= @journey.id %>/countries/<%= @country.id %>/locations/<%= @location.id %>/add_activity' method="post">
  <div>    
    <label for="name">What's the name of the activity?
      <input name="name" value="<%= @name %>">
    </label>
  </div>
  <div>
    <label for="cost">How much will it cost?
      <input name="cost" value="<%= @cost %>">
      <span class="note"></span>
    </label>
  </div>
  <div>
    <label for="starting_address">From what address do you start?
      <input name="starting_address" value="<%= @starting_address %>">
    </label>
  </div>
  <div>
    <label for="ending_address">At which address will you finish?
      <input name="ending_address" value="<%= @ending_address %>">
      <span class="note">(Only supply if differs from starting address)</span>
    </label>
  </div>
  <div>
    <label for="starting_date">What date will you start out?
      <input name="starting_date" value="<%= @starting_date %>">
      <span class="note">(dd-mm-yyyy)</span>
    </label>
  </div>
  <div>
    <label for="ending_date">What date will you finish?
      <input name="ending_date" value="<%= @ending_date %>">
      <span class="note">(dd-mm-yyyy, only supply if differs from starting date)</span>
    </label>
  </div>
  <div>
    <label for="starting_time">What time will you begin?
      <input name="starting_time" value="<%= @starting_time %>">
      <span class="note">(24-hour time, e.g. 17:00)</span>
    </label>
  </div>
  <div>
    <label for="finishing_time">What time will you finish?
      <input name="finishing_time" value="<%= @finishing_time %>">
      <span class="note">(24-hour time, e.g. 17:00)</span>
    </label>
  </div>
  <div>
    <label for="to_bring">Are there any items you should bring?
      <input name="to_bring" value="<%= @to_bring %>">
      <span class="note">(comma delimit separate items, e.g. "item 1, item 2, item 3")</span>
    </label>
  </div>
  <div>
    <label for="rating">What's the rating?
      <input name="rating" value="<%= @rating %>">
    </label>
  </div>
  <button type="submit">Add Activity</button>
</form>