<h2>Adding accomodation in <%= @location.name %>...</h2>
<form action='/journeys/<%= @journey.id %>/countries/<%= @country.id %>/locations/<%= @location.id %>/add_accomodation' method="post">
  <div>    
    <label for="name">What's the name of the accomodation you'd like to stay at?
      <input name="name" value="<%= @name %>">
    </label>
  </div>
  <div>
    <label for="address">What is the address?
      <input name="address" value="<%= @address %>">
    </label>
  </div>
  <div>
    <label for="cost">How much will it cost to stay there?
      <input name="cost" value="<%= @cost %>">
      <span class="note">Can be provided as a total (xxx), or a nightly rate (xx/night)</span>
    </label>
  </div>
  <div>
    <label for="arrival_date">What date will you arrive?
      <input name="arrival_date" value="<%= @arrival_date %>">
      <span class="note">(dd-mm-yyyy)</span>
    </label>
  </div>
  <div>
    <label for="departure_date">What date will you leave?
      <input name="departure_date" value="<%= @departure_date %>">
      <span class="note">(dd-mm-yyyy)</span>
    </label>
  </div>
  <div>
    <label for="check_in_time">From what time can you check-in?
      <input name="check_in_time" value="<%= @check_in_time %>">
      <span class="note">(24-hour time, e.g. 17:00)</span>
    </label>
  </div>
  <div>
    <label for="check_out_time">By what time do you need to check-out?
      <input name="check_out_time" value="<%= @check_out_time %>">
      <span class="note">(24-hour time, e.g. 17:00)</span>
    </label>
  </div>
  <div>
    <label for="booking_service">Who did you book with?
      <input name="booking_service" value="<%= @booking_service %>">
    </label>
  </div>
  <div>
    <label for="rating">What's the rating?
      <input name="rating" value="<%= @rating %>">
    </label>
  </div>
  <button type="submit">Add Accomodation</button>
</form>