<h1><%= @journey.name %></h1>

<% if @journey.countries.empty? %>
  <p>It looks like you don't have any countries planned for a visit on this journey yet.</p>
  <p>Would you like to <a href="/journeys/<%= @journey.id %>/add_country">add your starting country?</a>
  </p>
<% else %>
  <h2>Countries</h2>
  <ul>
    <% @journey.countries.each do |country| %>
      <li><a href="/journeys/<%= @journey.id %>/countries/<%= country.id %>"><%= country.name %></a></li>
    <% end %>
  </ul> 
  <p><a href="/journeys/<%= @journey.id %>/add_country">Add another country?</a></p>
<% end %>
<% if @journey.details && @journey.details.size > 0 %>
  <h2>Details</h2>
  <p><%= @journey.details %>
<% end %>
<% if @journey.pros && @journey.pros.size > 0 %>
  <h2>Pros</h2>
  <p><%= @journey.pros %></p>
<% end %>
<% if @journey.cons && @journey.cons.size > 0 %>
  <h2>Cons</h2>
  <p><%= @journey.cons %></p>
<% end %>
<p><a href="/journeys/<%= @journey.id %>/add_details">Add details</a></p>
