<h3>...<%= @journey.name %> : <%= @country.name %>...</h3>
<h1><%= @location.name %></h1>

<h2>Accomodations</h2>
<ul>
  <% @location.accomodations.each do |accomodation| %>
    <li><a href="/journeys/<%= @journey.id %>/countries/<%= @country.id %>/locations/<%= location.id %>/accomodations/<%= accomodation.id %>"><%= accomodation.name %></a></li>
  <% end %>
</ul>

<h2>Activites</h2>
<ul>
  <% @location.activities.each do |activity| %>
    <li><a href="/journeys/<%= @journey.id %>/countries/<%= @country.id %>/locations/<%= location.id %>/activities/<%= activity.id %>"><%= activity.name %></a></li>
  <% end %>
</ul>

<% 
=begin %>
<% if @countries.empty? %>
  <p>It looks like you don't have any countries planned for visiting in your journey yet.</p>
  <p>Would you like to <a href="/journeys/<%= @journey.id %>/add_country">add your starting country?</a>
  </p>
<% else %>
  <h2>Countries</h2>
  <ul>
    <% @journey.countries.each_value do |country| %>
      <li><a href="/journeys/<%= @journey.id %>/countries/<%= country.id %>"><%= country.name %></a></li>
    <% end %>
  </ul> 
  <p><a href="/journeys/<%= @journey.id %>/add_country">Add another country?</a></p>
<% end %>

<% 
=end %>